@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Shrikhand&display=swap');

.Hometop {
    width: 100%;
    height: 685px;
    background-image: url('../../../public/Cover.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h1,
h3 {
    margin: 0;
    color: white;
}

.Hometoptopic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: 80px;
}

.Hometoph1 {
    font-size: 100px;
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
}

.Hometoph3 {
    font-size: 22px;
    letter-spacing: 2px;

}

.Hometopbutton {
    margin-top: 40px;
    background-color: black;
    border-width: 3px;
    width: 240px;
    height: 65px;
    border-radius: 15px;
    color: #FFA801;
    border-color: #808080;
    font-size: 30px;
    margin-left: 80px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.Hometopbutton:hover {

    background-color: #2f3640;

    border-color: black;
    border: 3px solid #808080;
    cursor: pointer;


}