@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Poppins&family=Roboto:ital@0;1&family=Shrikhand&display=swap');

.navbar {
    width: 100%;
    height: 50px;
    background-color: #1E272E;
    display: grid;
    grid-template-columns: 70% 30%;
    color: white;
}


.navbarlink {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 1px;
}

.navbarlinkbutton {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 550;
    letter-spacing: 1px;

    width: 110px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFA801;
    color: black;
    font-weight: 550;
    text-decoration: none;
    border: none;
}

.navbarlinkbutton:hover {
    background-color: #fed330;
}

.navbarlinkbuttonl:hover {
    background-color: #fed330;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-right-logout {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.welcome {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.navbarlinkbuttonl {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;

    width: 90px;
    height: 28px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFA801;
    color: black;
    font-weight: 550;
    text-decoration: none;
}